#nuestro-servicio {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .cartas {
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border: solid 1px #000;
      border-radius: 0.5rem;

      img {
        width: 100%;
        max-width: 200px;
        height: auto;
        border-radius: 50%;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .servicios {
      .cartas {
        flex-basis: calc(50% - 1rem);
      }
    }
  }

  @media (max-width: 480px) {
    .servicios {
      .cartas {
        flex-basis: 100%;
      }
    }
  }
}
