// Contenedor principal del footer
footer.footer
  .contenedor
    // Contacto
    .footer-section
      h3 Contacto
      p
        i.fa.fa-phone.me-1
        strong Tel&eacute;fono:
        |  +51 123 456 789
      p
        i.fa.fa-envelope.me-1
        strong Email:
        |  info@panicflashinteractive.com.pe
      p
        i.fa.fa-location-dot.me-1
        strong Direcci&oacute;n:
        |  Av. Principal 123, Lima, Per&uacute;
    // Síguenos
    .footer-section
      h3 S&iacute;guenos
      ul.social-links
        li
          a(href='#')
            i.fa.fa-facebook.me-1
            | Facebook
        li
          a(href='#')
            i.fa.fa-twitter.me-1
            | Twitter
        li
          a(href='#')
            i.fa.fa-linkedin.me-1
            | LinkedIn
        li
          a(href='#')
            i.fa.fa-instagram.me-1
            | Instagram
    // Legal
    .footer-section
      h3 Legal
      ul
        li
          a(href='#') T&eacute;rminos y Condiciones
        li
          a(href='#') Pol&iacute;tica de Privacidad

  // Copyright
  .copyright
    .container
      p &copy; 2024 Panic Flash Interactive. Todos los derechos reservados.
