header#header
  div.promesa
    i.imagina ¡TÚ LO IMAGINAS, NOSOTROS LO HACEMOS REALIDAD!
      | PIDE TU COTIZACIÓN AHORA
    
    h2 CONSTRUIMOS TU MUNDO DIGITAL

    p Cientos de empresas en Perú y en todo el mundo están ganando tiempo y tranquilidad con Panic Flash Interactive. Es el momento de contar con un diseño web adaptable a móviles y tabletas, proporcionando a tus usuarios una experiencia óptima y fluida.
    
    a.boton(href="contacto.html") Contáctanos