nav.barra-nav
  a.logo-empresa(href="index.html")
    img(src="img/pf-logo.svg", alt="Logo" height="60")
  
  ul.navegacion
    li
      a(href="index.html") Inicio
    li
      a(href="#como-ayudar") Servicos
    li 
      a(href="#sobre-nosotros") Nosotros
    li 
      a(href="#testimonio-resenas") Testimonios
  a.boton(href="contacto.html")
    | Contactenos
  button.hamburguesa(type="button")
    span.hamburguesa-linea
    span.hamburguesa-linea
    span.hamburguesa-linea
  
