.pdf-final {
    text-align: center;
    margin-bottom: 3rem;

    a {
        padding: 1rem;
        border-radius: .5rem;
        background: #f00;
        color: #fff;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background: #ffae00;
        }
    }
}